@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,700;1,700');
*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
h1{
    text-align: center;
    color:brown;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    text-align: center;
    margin-bottom: 20px;
}
nav span{
    display: inline-block;
    background-color: rgb(72, 78, 255);
    color: aliceblue;
    padding:  5px 10px;
    margin:  0 5px;
    cursor: pointer;
    border-radius: 30px;
}
nav span:hover{
    color: rgb(255, 217, 0);
}
header input{
    padding: 5px 10px;
    border: none;
    border:  2px solid #ccc;
    border-radius: 30px;
}
header button{
    border:none;
    padding: 7px 10px;
    border-radius: 30px;
    border: 2px solid #ccc;
}
.container-noticias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap:30px;
    padding-bottom: 20px;
}
.container-noticias .item{
    background-color: aliceblue;
    max-width: 360px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}
.container-noticias .item:hover{
    box-shadow: 0 0 10px 5px #ccc;
}
.container-noticias .item:hover h2{
    text-decoration: underline;
}
.container-noticias .item .info_item{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-noticias .item img{
    width: 100%;
}
.container-noticias #btnSiguiente{
    cursor: pointer;
}
.container-noticias #btnSiguiente:hover{
    color: brown;
}